@mixin on-its-own($duration, $delay) {
  animation: rise $duration calc(var(--arrival-at) + #{$delay}) both;
}

@mixin held($hide: true) {
  animation: none;
  opacity: 0;

  @if $hide {
    visibility: hidden;
  }
}

@mixin shown($duration, $delay) {
  animation: rise $duration $delay both;
}
