@use 'mixins/controls';
@use 'mixins/formats';
@use 'mixins/motion';

:host {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  gap: inherit;
}

.control {
  @include controls.icon-button(var(--target-compact), 32px, var(--t-duration));

  position: relative;

  svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }
}

.control[aria-pressed='true'] {
  color: var(--sig);
}

.tip {
  @include controls.tip;
}

.control:focus-visible .tip {
  opacity: 1;
  visibility: visible;
}

@include formats.can-hover {
  .control:hover .tip {
    opacity: 1;
    visibility: visible;
    transition-delay: 350ms;
  }

  .close:hover {
    color: var(--sig);
  }
}

@include motion.reduced {
  .control,
  .tip {
    transition: none;
  }
}
