<div class="rail">
  <ul [attr.aria-label]="texts().contactRail.label">
    @for (link of links(); track link.href) {
      <li>
        <a
          [href]="link.href"
          [attr.target]="link.external ? '_blank' : null"
          [attr.rel]="link.external ? 'noopener' : null"
          [attr.aria-label]="link.label"
          [title]="link.title"
          ><svg aria-hidden="true" focusable="false" viewBox="0 0 24 24">
            <path [attr.d]="icons[link.icon]" /></svg
        ></a>
      </li>
    }
  </ul>
  @if (showPause()) {
    <span aria-hidden="true" class="rule"></span>
    <button
      type="button"
      [attr.aria-label]="pauseLabel()"
      [title]="pauseLabel()"
      (click)="pauseToggled.emit()"
    >
      {{ paused() ? '▶' : '❚❚' }}
    </button>
  }
</div>
