<div class="rail">
  <ul aria-label="Me contacter">
    <li>
      <a
        href="mailto:pierremariemarchio.pro@gmail.com"
        aria-label="M’écrire à pierremariemarchio.pro@gmail.com"
        title="Email"
        ><svg aria-hidden="true" focusable="false" viewBox="0 -960 960 960">
          <path
            d="M140-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v520q0 24-18 42t-42 18H140Zm340-302L140-685v465h680v-465L480-462Zm0-60 336-218H145l335 218ZM140-685v-55 520-465Z"
          /></svg
      ></a>
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/pierre-marie-marchio-3a5836295/"
        target="_blank"
        rel="noopener"
        aria-label="Profil LinkedIn de Pierre-Marie Marchio"
        title="LinkedIn"
        ><svg aria-hidden="true" focusable="false" viewBox="0 -960 960 960">
          <path
            d="M140-120q-24 0-42-18t-18-42v-480q0-24 18-42t42-18h180v-100q0-24 18-42t42-18h200q24 0 42 18t18 42v100h180q24 0 42 18t18 42v480q0 24-18 42t-42 18H140Zm0-60h680v-480H140v480Zm240-540h200v-100H380v100ZM140-180v-480 480Z"
          /></svg
      ></a>
    </li>
    <li>
      <a
        href="https://github.com/Pierre-MarieMarchio"
        target="_blank"
        rel="noopener"
        aria-label="Dépôts GitHub de Pierre-Marie Marchio"
        title="GitHub"
        ><svg aria-hidden="true" focusable="false" viewBox="0 -960 960 960">
          <path
            d="M320-242 80-482l242-242 43 43-199 199 197 197-43 43Zm318 2-43-43 199-199-197-197 43-43 240 240-242 242Z"
          /></svg
      ></a>
    </li>
  </ul>
  @if (showPause()) {
    <span aria-hidden="true" class="rule"></span>
    <button
      type="button"
      [attr.aria-label]="pauseLabel()"
      [title]="pauseLabel()"
      (click)="pauseToggled.emit()"
    >
      {{ paused() ? '▶' : '❚❚' }}
    </button>
  }
</div>
